/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background-image: url(./assets/images/background.jpg);
  background-size: cover;
  vertical-align: middle !important;
}

.container-sm #bottom {
  background-color: white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.col-md-6 {
  margin: 0 auto;
  border: 10px solid rgb(58, 58, 58);
  border-radius: 20px;
}

.vertical-center {
  min-height: 100%;  
  min-height: 100vh; 
  display: flex;
  align-items: center;
}