<div id="top">
  <div class="row top">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Put clock</h5>
          <p class="card-text">calendar</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 id="city" class="card-title">City output</h5>
            <p class="title">Coord</p>
            <p id="lat"></p>
            <p id="lon"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="bottom">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="icon" src="...">
        <div class="card-body">
          <h5 id="weather" class="card-title">weather output</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 id="temp-min" class="card-title">output temp-min</h5>
        <h5 id="temp-max" class="card-title">output temp-max</h5>
        <h5 id="feels-like" class="card-title">output feels-like</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 id="wind" class="card-title">output wind</h5>
      </div>
    </div>
  </div>
</div>
